section.about#about
  .container
    
    p.lead Hi, I am Zsolti. I'm a web developer, specialising in front-end development and currently focusing on learning full stack web development. I use my experience to create things that make a difference.
    
    .row
      .col.col--half
        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
      .col.col--half
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        
    .about__actions
      button.btn.btn--download(type='button') Download CV
      button.btn.btn--contact(type='button') Contact Me
      
    .about__cta
      a.cta(href='#portfolio') View recent work
