section.hero#home
  include _main-nav.pug
  .container.container--narrow.container--full-page
    .hero__image.anim.anim--pop
      img(src='images/zsolti.jpg', srcset='images/zsolti.jpg 1x, images/zsolti@2x.jpg 2x', alt='')
    h1.hero__title Zsolt Meszaros
    h2.hero__subtitle Aspiring Full Stack Developer
    include _social.pug
