nav.main-nav(aria-label='Site links')
  .container
    ul
      li #[a(href='#home') Home]
      li #[a(href='#about') About]
      li #[a(href='#services') Services]
      li #[a(href='#portfolio') Portfolio]
      li #[a(href='#contact') Contact]
