- var title='Zsolt Meszaros - FCC Portfolio Page'
- var description='Check out my freeCodeCamp portfolio page, a responsive, mobile first webpage without using any CSS framework'
- var url='https://zsolti.co/fcc/portfolio/'
- var image=url+'images/screenshot.jpg'
- var twitter='@ZsoltiMe'
