footer.site-footer(role='contentinfo')
  .container
    p.copyright Created by #[a(href='https://zsolti.co') Zsolt Meszaros] for freeCodeCamp. Source code is available on #[a(href='https://github.com/zsoltime/fcc-portfolio') GitHub].
    p.copyright Icons made by #[a(href='https://www.flaticon.com/authors/uiuxer' target='_blank' rel='noopener noreferrer') UIUXER] from #[a(href='https://www.flaticon.com/' target='_blank' rel='noopener noreferrer') flaticon.com], licensed by #[a(href='http://creativecommons.org/licenses/by/3.0/' target='_blank' rel='noopener noreferrer') CC 3.0 BY]
  
