.main-nav
  background-color: transparent
  transform: translateY(-2rem)

  ul
    align-items: center
    display: flex
    justify-content: center
    list-style: none
    margin: 0
    padding: 0

  li
    font-size: .875rem
    line-height: 3
    margin-right: 1rem

    &:last-of-type
      margin-right: 0

  a
    color: rgba(white, .9)

    &:hover
      color: lighten($link-color, 10%)

    &:focus
      outline: thin dotted
