extends _layout.pug
block meta
  include partials/_meta.pug
block content
  main
    include partials/_hero.pug
    include partials/_about.pug
    include partials/_skills.pug
    include partials/_portfolio.pug
    include partials/_contact.pug
  include partials/_site-footer.pug
