extends _layout.pug
block title
  title Zsolt Meszaros - FCC Portfolio Page
block meta
  meta(name='description', content='Check out my freeCodeCamp portfolio page')
block content
  main
    include partials/_hero.pug
    include partials/_about.pug
    include partials/_portfolio.pug
    include partials/_contact.pug
  include partials/_site-footer.pug
